<<<<<<< feature/upload-passport
.frame137{
  position: absolute;
  top: 36px;
  left: 180px;
  width: 952px;
  height: 72px;
  color: #939393;
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  border-bottom: #C5C5C5 solid 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 47px;
=======
/* @import "tailwindcss";

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
>>>>>>> main
}
.vector {
  background-color: #E9E4E4;
  border-radius: 5px;
  margin-right: 10px;
  padding: 3px;
}
.number {
  margin-right: 10px;
}
.item, .items{
  display: flex;
  align-items: center;
}
.items{
  color: black;
  font-weight: 500;
}

.frame139{
  position: absolute;
  width: 678px;
  height: 48px;
  top: 130px;
  left: 500px;
  color: black;
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  font-size: 23px;
  font-style: medium;
}
.frame140{
  position: absolute;
  top: 150px;
  left: 500px;
  padding: 60px;
}
button{
  background-color: #E91908;
  position: absolute;
  top: 440px;
  left: 570px;
  width: 150px;
  color: white;
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
<<<<<<< feature/upload-passport
button:hover{
  background-color: #E91908;
  opacity: 0.8;
}
button:active{
  background-color: #E91908;
  opacity: 0.6;
}
=======

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
} */
>>>>>>> main
