body {
    background: #fff;
}

.upload-container{
    max-width: 650px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

/*Steps*/
.steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.step{
    font-size: 14px;
    color: #aaa;
}

.step.done {
    color: green;
}

.step.active {
    background: #e60023;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
}

/*Text*/
.sub-text {
    color: #777;
    font-size: 14px;
}

/*Upload*/
.upload-box{
    border: 2px dashed #ddd;
    padding: 40px;
    margin: 25px 0;
    border-radius: 10px;
    cursor: pointer;
}

.upload.text{
    color: #e60023;
    font-weight: 500;
}

.upload-text span{
    color: #555;
}

.file-name{
    margin-top: 10px;
    font-size: 13px;
    color: green;
}

/*Form*/
.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.form .full{
    grid-column: span 2;
}

.form div{
    display: flex;
    flex-direction: column;
    text-align: left;
}

input,
select{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

/*Button*/
.next-btn{
    margin-top: 25px;
    width: 100px;
    padding: 14px;
    background: #e60023;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}